body {
    background-color: rgb(207, 177, 205);
    
}

hr {
        border-style: none;
        border-top-style:dotted ;
        height: 0px;
        border-width: 5px;
        width: 5%;
}

h3 {
    color: rgb(8, 71, 165);
}

h1 {
    color: rgb(135, 107, 214);
}